body {
  background-color: #eceeed;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 375px;
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;
}
