<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Архітектура комп'ютера</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/apk.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="header-nav">
          <a href="../index.html" class="header-logo"
            ><img
              src="../img/logo.png"
              alt="ВСП ЗФК ТНТУ"
              width="40"
              height="40"
              class="header-icon"
            />
            Інформаційні технології
          </a>
          <ul class="header-list">
            <li class="header-list-item">
              <a href="../partials/informatica.html" class="header-item-link"
                >Інформатика</a
              >
            </li>
            <li class="header-list-item">
              <a href="../partials/lmi.html" class="header-item-link">ЛМІ</a>
            </li>
            <li class="header-list-item">
              <a
                href="../partials/office-software.html"
                class="header-item-link"
                >Офісне ПЗ</a
              >
            </li>
            <li class="header-list-item">
              <button type="button" class="header-item-link-js">
                Інші дисципліни
              </button>
              <ul class="header-menu" style="display: none">
                <li class="header-menu-item">
                  <a href="../partials/apk.html" class="header-menu-link"
                    >Архітектура комп'ютера</a
                  >
                </li>
                <li class="header-menu-item">
                  <a href="../partials/izvp.html" class="header-menu-link"
                    >ІЗВП</a
                  >
                </li>
                <li class="header-menu-item">
                  <a href="../partials/kit.html" class="header-menu-link"
                    >Методи і засоби КІТ</a
                  >
                </li>
                <li class="header-menu-item">
                  <a href="../partials/base-ac.html" class="header-menu-link"
                    >Основи А і АС</a
                  >
                </li>
                <li class="header-menu-item">
                  <a
                    href="../partials/tech-practice.html"
                    class="header-menu-link"
                    >Технологічна практика</a
                  >
                </li>
                <li class="header-menu-item">
                  <a href="../partials/info-kit.html" class="header-menu-link"
                    >Інформатика і КІТ</a
                  >
                </li>
                <li class="header-menu-item">
                  <a href="../partials/os.html" class="header-menu-link"
                    >Операційні системи</a
                  >
                </li>
              </ul>
            </li>
          </ul>

          <button type="button" class="header-button">
            <svg class="header-button-icon" width="30" height="30">
              <use href="../img/icon.svg#icon-menu"></use>
            </svg>
          </button>
        </nav>
      </div>
      <div class="header-mob" style="display: none">
        <button class="close-btn" type="button">
          <svg class="close-btn-icon" width="30" height="30">
            <use href="../img/icon.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="header-mob-menu">
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/informatica.html"
              >Інформатика</a
            >
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/lmi.html">ЛМІ</a>
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/office-software.html"
              >Офісне ПЗ</a
            >
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/apk.html"
              >Архітектура комп'ютера</a
            >
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/izvp.html">ІЗВП</a>
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/kit.html"
              >Методи і засоби КІТ</a
            >
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/base-ac.html"
              >Основи А і АС</a
            >
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/tech-practice.html"
              >Технологічна практика</a
            >
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/info-kit.html"
              >Інформатика і КІТ</a
            >
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="../partials/os.html"
              >Операційні системи</a
            >
          </li>
        </ul>
      </div>
    </header>
    <main>
      <section
        class="hero"
        style="background-image: url('../img/hero/11-2.jpg')"
      >
        <h1 class="hero-title">Архітектура комп'ютера</h1>
      </section>
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../js/main.js" type="module" defer></script>
  </body>
</html>
